{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
    <nav>
      <a href="{% url "recipe_list" %}">Main page</a>
    </nav>
  </header>
  <main>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </main>
  {% endblock content%}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
  <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
  <header>
    <nav>
      <a href="{% url "recipe_list" %}">Main page</a>
    </nav>
  </header>
  <main>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </main>
  <footer>
    Made with love by Scrumptious Recipes
  </footer>
</body>
</html> {% endcomment %}
