{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}"> Main Page</a>
    <div>
      {% if user.is_authenticated %}
          Hello, {{ user.username }}
          <a href="{% url 'user_logout' %}">Logout</a>
          <a href="{% url 'create_recipe' %}">Create a recipe</a>
          <a href="{% url 'my_recipe_list' %}">My recipes</a>
          {%if user == recipe_object.author %}
          <a href="{% url 'edit_post' id=recipe_object.id %}">Edit this recipe</a>
          {% endif %}
      {% else %}
          <a href="{% url 'signup' %}">Signup</a>
          <a href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </div>
  </nav>
</header>

<main>
    <h1>{{ recipe_object.title }}</h1>
    <p>{{recipe_object.created_on}}</p>
    <img src="{{ recipe_object.picture }}">
    <div>4.3 Stars</div>
    <p>{{ recipe_object.description }} </p>

    <h2>Ingredients</h2>
    <table class="ingredients-table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.food_item }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe_object.steps.all %}
        <li>{{step.instruction}}</li>
      {% endfor %}
    </ol>
</main>
{% endblock content %}
 {% comment %} <header>
    <nav>
      <a href="{% url "recipe_list" %}">Main page</a>
    </nav>
  </header>
  <main>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </main> {% endcomment %}
{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>

    <header>
        <nav>
            <a href="{% url 'recipe_list' %}"> Main Page</a>
        </nav>
    </header>

    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 Stars</div>
        <p>{{ recipe_object.description }} </p>

        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                  </tr>
                  <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                  </tr>
                  <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>Corn tortillas</td>
                  </tr>
                  <tr>
                    <td>0.5 cups</td>
                    <td>Cotija cheese</td>
                  </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html> {% endcomment %}
