{% extends 'base.html' %}
{% block title %}
Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}"> Main Page</a>
        <div id="link-cluster">
            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'user_logout' %}">Logout</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
            {% else %}
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
</header>

<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                <p>{{ recipe.created_on|date:"M j, Y"}}</p>
            </h3>
            <img src="{{ recipe.picture }}">
            <div>4.3 stars</div>
        </div>
        {% empty %}
            <p>There are no recipes.</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    </style>
</head>

<body>
    <div>
    </div>
    <header>
        <nav class="header-grid">
            <a href="{% url 'recipe_list' %}"> Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
        </nav>
    </header>

    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
              <h3>
                <a class="recipe-link" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
              </h3>
                <p>{{ recipe.created_on|date:"M j, Y"}}</p>
                <img src="{{ recipe.picture }}">
              <div>4.3 stars</div>
            </div>
            {% empty %}
                <p>There are no recipes.</p>
            {% endfor %}
        </div>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html> {% endcomment %}
