{% extends 'base.html' %}
{% block title%}
Scrumptious Recipes
{% endblock title %}
{% block content %}
  <h2>Rate this Item</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Rating</button>
  </form>
{% endblock %}
