:root {
  --blue-dark:rgb(0, 51, 102);
 --blue-medium:rgb(0, 153, 204);
  --blue-light: rgb(51, 153, 204);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/back-image.jpg);
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--blue-dark)
  }

  main {
    padding: 16px;
  }

  footer {
    padding: 24px 0;
    background-color: var(--blue-medium);
    margin-top: 32px;
    padding: 32px;
  }

  img {
    height: 400px;
  }

  nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-medium);
    border-bottom: 1px solid #146152;
    padding: 16px;
  }

  nav a {
    color: var(--blue-dark);
    font-weight: bold;
    text-decoration: underline;
  }

  nav a + a {
    margin-left: 1em;
  }

  h1, h2, h3 {
    color: var(--blue-dark);
    padding: 4px
  }

  h2 {
    text-decoration: underline;
  }
  a {
    color: var(--blue-dark);
    text-decoration: none;
    background-color: var(--blue-light);
    border: 1px var(--blue-dark) solid;
  }
a:hover {
    padding: 2px;
    color: var(--blue-dark);
    text-decoration: none;
    border: 1px var(--blue-dark) solid;
}

  .recipe-grid {
    display: flex;
    justify-content: space-between;
    gap: 15px;

  }

  .ingredients-table tr:nth-child(even) {
    background-color: rgba(17, 16, 16, 0.1);
  }
